# 1. Python cache and metadata
__pycache__/
*.pyc
experiments/logs/
experiments/results/
.env
.DS_Store
*.egg-info/

# 2. Virtual environments
venv/
.env

# 3. Experiments outputs
experiments/result_champion/
experiments/results/

# 4. Data and models (too large for Git)
data/raw/
data/processed/
data/vllm_processed/

# 5. vLLM jobscript with HF token
vllm/slurm_jobs/

# 6. mlflow db
mlflow.db